* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background :linear-gradient(to left, rgb(109, 213, 237) , rgb(133, 147, 176));
    font-size: 19px;

}

.container{

    display: flex;
   flex-direction: column;
   height: 100%;;
   width: 100%;
   justify-content: center;
   align-items: center;
   gap :2rem;
   padding: 30px;
   margin: auto;
   color:#d3e0ea;

   }

   input[type=text], select {
    width: 400px;
    height:30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
  }

  .get-info{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:2rem;
      justify-content: center;

}


 #query-btn{

     display: flex;
     width: 100px;
     border-radius: 8px;
     height: 30px;
     align-items: center;
     justify-content: center;
     text-align: center;


 }


 .weather-container{
    background-color: 	#F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#276678;
    width: 100%;
    border: 1px solid #ccc;
   border-radius: 8px;
   box-sizing: border-box;
   padding: 11px;
   min-height: 110px;
   text-align: center;
   font-size: 19px;
 }




.location{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap :1.5rem;
    align-items: center;
    color:#276678;

}
.header{
    display: flex;
   color:#276678;
   justify-content: center;

}
.icon{
   width: 38px;
   height: 30px;
}
.hidden{
    display: none;
}
.show{
    display: flex;
    flex-direction:row;
    width:100%;
    gap:2rem;

}
.chart{
    border-radius:9px;
    fontSize: 13px;
    fontFamily: sans-serif;
    width:900px;

}
h3{
    color:#276678;
    margin-bottom:20px;



}
